{% extends 'base.html' %}

{% block content %}
<div class="form">
<h1>Профиль</h1>

<form method="post">
    {% csrf_token %}
    <div class="form_error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form_label_p" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form_error">{{ f.errors }}</div>
    {% endfor %}
    <p><button type="submit">Сохранить</button></p>
</form>

<p><a href="{% url 'users:password_change' %}">Сменить пароль</a></p>

</div>
{% endblock %}
